body {
    /*font-family: 'Century Gothic',helvetica,verdana,arial;*/
    background: url("w3.jpg.jsf?ln=template/img") no-repeat center center fixed;
    background-size: cover;
    /*margin:0;*/
}

/*.bottom-space{*/
/*margin-bottom: 1em;*/
/*}*/

/*.top-space{*/
/*margin-top: 1em;*/
/*}*/

.box {
    padding: 1em;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.63);
    margin-top: 100px;
    height: 230px;
    width: 18%;
    position: absolute;
    left: 41%;
}

/*#page_wrapper{*/
/*margin: 1em;*/
/*}*/

/*#footer{*/
/*text-align: center;*/
/*}*/

.btn1 {
    position: absolute;
    left: 40%;
    margin-top: 15px;
}

/*.navbar-nav {*/
/*float:none;*/
/*margin:0 auto;*/
/*display: block;*/
/*text-align: center;*/
/*}*/

/*.navbar-nav > li {*/
/*display: inline-block;*/
/*float:none;*/
/*}*/

.abc {
    border: 2px solid red;
}

.navbar-brand-custom {
    font-family: Helvetica;
    float: left;
    font-size: 18px;
    line-height: 10px;
    text-decoration: none;
}

.navbar-brand-custom:hover {
    text-decoration: none;
    border-bottom: 3px solid #8fa1b4;
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}

.select-style div {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style div:focus {
    outline: none;
}

.bordersuper {
    border: 2px solid #a29d99;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.bordersuper1 {
    border: 2px solid #3e5380;
}

.bordersuper2 {
    border: 2px solid green;
}

.textalign {
    text-align: center;
}

.textright {
    text-align: right;
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: rgb(236, 236, 236);
    position: fixed;
    bottom: 0;
}

.someselector {
    all: revert;
}

.messages {
    border: 1px solid rgba(180, 180, 180, 0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: rgba(227, 227, 227, 0.38);
    padding: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #8293a5;
    font-weight: bold;
    font-size: 120%;
}

.buttonIndex {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #48525c;
}

.frame {
    height: 350px;
    width: 450px;
    min-width: 450px;
    max-width: 450px;
}

.fontPro {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #8293a5;
    font-weight: bolder;
    font-size: 100%;
}

.fontProBlack {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #57636f;
    font-weight: bolder;
    font-size: 140%;
}

.fontProSmall {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #57636f;
    font-weight: bolder;
    font-size: 85%;
}

.fontProSmallBlue {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #00aced;
    font-weight: bolder;
    font-size: 100%;
}

.fontProSmallBlue2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0084b4;
    font-weight: bolder;
    font-size: 110%;
}

.fontProSmallBlue3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #1dcaff;
    font-weight: bolder;
    font-size: 130%;
}

.fontProSmallBlue4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #c0deed;
    font-weight: bolder;
    font-size: 100%;
}

.fontProBlueDark {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0084b4;
    font-weight: bold;
    font-size: 130%;
}

.fontProBlueNormal {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #00425b;
    font-size: 130%;
}

.profilePanel {
    border: 3px solid red;
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#new {
    border: 7px solid whitesmoke;
    margin: 10px;
    border-radius: 5px;
    background-color: #fdfdfd;
}

#new1 {
    border: 7px solid whitesmoke;
    margin: 10px;
    border-radius: 5px;
    background-color: #fcfcfc;
}

.borderPro {
    border: 7px solid whitesmoke;
    margin: 10px;
    border-radius: 5px;
    background-color: #fcfcfc;
}

.photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid rgba(160, 195, 202, 0.53)
}

.description {
    margin-top: 10px;
}